$bgColor: rgb(48, 65, 86);
$hoverBgColor: rgb(38, 52, 69);
html, body {
  height: 100%;
}

//  自定义滚动条
.site-custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track{
    border-radius: 5px;
    background-color: transparent;
  }
  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color:#666a6e;
    }
  } 
}


.site-layout__container {
  height: 100%;
}

.site-layout__header {
  line-height: 48px;
  display: flex;
  justify-content: flex-end;
}

.site-layout__aside {
  overflow-x: hidden;
  overflow-y: overlay;
  background: $bgColor;
  height: 100%;
  padding-right: 6px;
  .el-menu {
    border: none;
  }
}