$bgColor: rgb(48, 65, 86);
$hoverBgColor: rgb(38, 52, 69);
html, body {
  height: 100%;
}

//  自定义滚动条
.site-custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track{
    border-radius: 5px;
    background-color: transparent;
  }
  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color:#666a6e;
    }
  } 
}

// 页面布局相关
.site-layout__container {
  height: 100%;
}

.site-layout__header {
  line-height: 48px;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 1px 4px #ddd;
  z-index: 1;
}

.site-layout__aside {
  overflow-x: hidden;
  overflow-y: overlay;
  background: $bgColor;
  height: 100%;
  padding-right: 6px;
  .el-menu {
    border: none;
  }
}

// 页面内容相关
.site-page__container {
  .site-page__functions {
    margin-bottom: 1rem;
  }
}