$bgColor: rgb(48, 65, 86);
$hoverBgColor: rgb(38, 52, 69);
html, body {
  height: 100%;
}

.site-layout__container {
  height: 100%;
}

.site-layout__header {
  line-height: 48px;
  display: flex;
  justify-content: flex-end;
}

.site-layout__aside {
  overflow-x: hidden;
  overflow-y: auto;
  background: $bgColor;
  height: 100%;
  .el-menu {
    border: none;
  }
}